<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android"
        id = "net.vllaznia.app"
        versionCode = "1601"
        version = "3.0.2">
    <name>Vllaznia</name>

    <description>
       Aplikacioni realizuar per Futboll Klub Vllaznia Shkoder. Historia, lajme, informacione dhe statistika nga ekipi i pare shqiptar Vllaznia Shkoder (Albania).
    </description>

    <author href="http://www.ingalb.info" email="contact@ingalb.info">
        Ingalb Company
    </author>

    <content src="index.html" />
	
    <preference name="ScrollEnabled" value="false" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
	
    <preference name='phonegap-version' value='cli-9.0.0' />
	
    <plugin name="cordova-plugin-device" source="npm"/>
    <plugin name="cordova-plugin-inappbrowser" source="npm" />
    <plugin name="cordova-plugin-network-information" source="npm" />
    <plugin name="cordova-plugin-statusbar" source="npm"/>
    <plugin name="cordova-plugin-splashscreen" source="npm"/>
    <plugin name="cordova-plugin-whitelist" source="npm" />
    <plugin name="cordova-plugin-apprate" source="npm"/>
    <plugin name="cordova-plugin-x-socialsharing" source="npm" />
    <plugin name="cordova-plugin-ionic-webview" source="npm" />
    <plugin name="cordova-plugin-ionic-keyboard" source="npm" />
    <plugin name="es6-promise-plugin" source="npm" />
    <plugin name="cordova-plugin-nativestorage" source="npm" />
    <plugin name="cordova-plugin-globalization" source="npm" />
    <plugin name="cordova-plugin-dialogs" source="npm" />
	
	


    <preference name="permissions"  value="none"/>
 
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="android-minSdkVersion"      value="21" />              <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
   
    <icon src="icon.png" />
    <splash src="splash.png" />

    <icon src="res/icon/android/icon-36-ldpi.png" platform="android" qualifier="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png" platform="android" qualifier="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png" platform="android" qualifier="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png" platform="android" qualifier="xhdpi" />
    <icon src="res/icon/android/icon-144-xxhdpi.png" platform="android" qualifier="xxhdpi" />

    <splash src="res/screen/android/ldpi.png" platform="android" qualifier="ldpi" />
    <splash src="res/screen/android/mdpi.png" platform="android" qualifier="mdpi" />
    <splash src="res/screen/android/hdpi.png" platform="android" qualifier="hdpi" />
    <splash src="res/screen/android/xhdpi.png" platform="android" qualifier="xhdpi" />
    <!--<splash src="res/screen/android/portrait-xxhdpi.png" platform="android" qualifier="port-xxhdpi" />
    <splash src="res/screen/android/xxhdpi.png" platform="android" qualifier="land-xxhdpi" />-->
	


<icon platform="ios" src="res/icon/ios/icon-small.png" width="29" height="29" />
<icon platform="ios" src="res/icon/ios/icon-small-2x.png" width="58" height="58" />
<icon platform="ios" src="res/icon/ios/icon-40.png" width="40" height="40" />
<icon platform="ios" src="res/icon/ios/icon-40-2x.png" width="80" height="80" />
<icon platform="ios" src="res/icon/ios/icon-50.png" width="50" height="50" />
<icon platform="ios" src="res/icon/ios/icon-50-2x.png" width="100" height="100" />
<icon platform="ios" src="res/icon/ios/icon.png" width="57" height="57" />
<icon platform="ios" src="res/icon/ios/icon-2x.png" width="114" height="114" />
<icon platform="ios" src="res/icon/ios/icon-60.png" width="60" height="60" />
<icon platform="ios" src="res/icon/ios/icon-60-2x.png" width="120" height="120" />
<icon platform="ios" src="res/icon/ios/icon-60-3x.png" width="180" height="180" />
<icon platform="ios" src="res/icon/ios/icon-72.png" width="72" height="72" />
<icon platform="ios" src="res/icon/ios/icon-72-2x.png" width="144" height="144" />
<icon platform="ios" src="res/icon/ios/icon-76.png" width="76" height="76" />
<icon platform="ios" src="res/icon/ios/icon-76-2x.png" width="152" height="152" />
<!--
<splash platform="ios" src="res/screen/ios/Default.png" width="320" height="480" />
<splash platform="ios" src="res/screen/ios/Default@2x.png" width="640" height="960" />
<splash platform="ios" src="res/screen/ios/Default-568h@2x.png" width="640" height="1136" />
<splash platform="ios" src="res/screen/ios/Default-6@3x.png" width="750" height="1334" />
<splash platform="ios" src="res/screen/ios/Default-6Plus@3x.png" width="1242" height="2208" />
<splash platform="ios" src="res/screen/ios/Default@2x~universal~anyany.png" />
<splash platform="ios" src="res/screen/ios/Default@3x~universal~anyany.png" />	
-->
	
    <access origin="*" />
    <access origin="tel:*" launch-external="yes" />
    <access origin="mailto:*" launch-external="yes" />
    <access origin="geo:*" launch-external="yes" />

    <allow-navigation href="cdvfile:*" />
    <allow-navigation href="content:*" />
    <allow-navigation href="data:*" />
    <allow-navigation href="*" />
    <allow-navigation href="localhost*" />

    <allow-intent href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
 </widget>
